<div class="user_info">
  <div class="user_header">
    <div class="avatar">
      <img src="<%= @user.avatar_url %>" />
    </div>
    <div class="username">
      <%= h(real_name(@user))%>
    </div>
    <div class="usernumber">
      <div class="number">第<%=@user.id%>位会员</div>
      <div class="since data_time" data-time='<%= @user.created_at %>'></div>
    </div>
    <div class="empty">
      
    </div>
    
  </div>
  <div class="detail">
    <ul>
      <li>Id: <%= h(@user.name) %></li>
      <% if !@user.fake.nil? %>
        <li>名字: <%= h(@user.fake) %></li>
      <% end %>
      <li>Email: <%= h(@user.email) %></li>
      <% if !@user.city.nil? %>
        <li>城市: <%= h(@user.city) %></li>
      <% end %>
      <% if !@user.info.nil? %>
        <li>个人介绍: <%= h(@user.info) %></li>
      <% end %>
    </ul>
    <% if current_user?(@user.id) %>
      <a href="/account/<%= @user.name%>/edit">修改资料</a>
    <% end %>
    <% if admin?&&!@user.admin?%>
      <%= delete_some("/users/#{@user.id}") %>
    <% end %>
    <div class="empty">
      
    </div>
  </div>
  <% if current_user?(@user.id) %>
    <div class="user_notification">
        <p>你有<%= @user.notifications.count %>条通知:</p>
        <ul>
        <% @user.notifications.each do |n|%>
          <% if n.read %>
            <% pclass = "read"%>
          <% else %>
            <% pclass = "unread"%>
          <% end %>
          <% if n.atwho %>
            <li><%= delete_some("/notifications/#{n.id}") %><p class="<%= pclass %>">你在文章<a href="/notifications/<%= n.id %>"><%= h(n.post_name)%></a>的回复,被 <%= h(n.user_name) %>@了</p><div class="empty"></div> 
          <% else %>

            <li><%= delete_some("/notifications/#{n.id}") %><p class="<%= pclass %>">你的文章<a href="/notifications/<%= n.id %>"><%= h(n.post_name)%></a>,被 <%= h(n.user_name) %>回复了</p><div class="empty"></div> 
            </li>
          <% end %>
        <% end %>
        </ul>
    </div>
  <% end %>
  <div class="user_theme">
    <p>主题列表:</p>
    <% @posts.each do |p|%>
      <li>
      <a href="/topics/<%= p.id %>"><%= h(p.title) %></a>
      <span>.<%= p.comments.count%>条回复</span>
      </li>
    <% end %>
    <%= will_paginate @posts, next_label: "下一页" , previous_label: "上一页" %>
  </div>

  <div class="user_theme user_comments ">
    <p>回复列表:</p>
    <% @comments.each do |c| %>
      <li>
        <div class="entry"><%= c.body %></div>
        <span>@</span>
        <span>.</span>
        <a href="/topics/<%= c.post.id%>"><%= h(c.post.title) %></a>
      </li>
    <% end %>
    <%= will_paginate @comments, next_label: "下一页" , previous_label: "上一页"%>
    
  </div>
</div>
