<div class="modal fade" id="newPostForm" role="dialog" aria-labelledby="newPostFormLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content ">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{#if isCreateComment}}
        <p class="modal-title" id='newPostFormLabel'>Create your new Comment</p>
      {{else}}
        <p class="modal-title" id='newPostFormLabel'>Create your new post</p>
      {{/if}}
    </div>
    <div class="modal-body">
      <div class="container-fluid post-new-page">
        {{#if isCreateComment}}
        <form {{action "createComment" on="submit"}} class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12" role="tabpanel">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit</a></li>
                <li role="presentation" ><a {{action "mdPreview"}} href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="edit" >
                  {{view "custom-textarea" class="form-control editor comment-editor" rows="15" atwhoItems=atwhoItems atWho=atWho}}
                </div>
                <div role="tabpanel" class="tab-pane" id="preview" >
                  <div class="editor-preview entry">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button data-loading-text="Creating..." autocomplete="off" id="createButton" type="submit" class="btn btn-default center-block">Create</button>
        </form>
        {{else}}
        <form {{action "createPost" on="submit"}} class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-4">
              {{view "select" content=selectContent class="form-control" selection=tag}}
            </div>
            <div class="col-sm-8">
              {{input class="form-control post-title" value=title placeholder="Post title..."}}
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12" role="tabpanel">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit</a></li>
                <li role="presentation" ><a {{action "mdPreview"}} href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="edit" >
                  {{view "custom-textarea" class="form-control editor" rows="15" }}
                </div>
                <div role="tabpanel" class="tab-pane" id="preview" >
                  <div class="editor-preview entry">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" data-loading-text="Creating..." autocomplete="off" id="createButton" class="btn btn-default center-block">Create</button>
        </form>
        {{/if}}
    </div>
  </div>

  <div class="error-message modal-footer">
    {{#if hasError}}
      {{errorMessage}}
    {{/if}}
  </div>
  </div>
</div>
</div>
