<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width , initial-scale=1.0"/>
  <title>涅磐中文</title>
  <meta name="description" content="涅磐中文家庭论坛">
  <meta name="keywords" content="Nirvana,Grunge music,Kurt Cobain,Rock music">
  <link rel="stylesheet" href="/css/entry.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/font-awesome.css" />
  <link rel="stylesheet" href="/css/simditor.css"/>
  <link rel="stylesheet" href="/css/simditor-mention.css" />
</head>
<body class="index">
  <header class="index">
    <nav class="global_nav">
      <div class="site_title">
        <h1>CnNirvana</h1> 
      </div>
      <ul>
        <li><a href="/" id="home" >首页</a></li>
        <li><a href="/about" id="about" >关于</a></li>
      </ul>
      <% if login? %>
        <% count = current_user.notifications.count %>
        <% if count != 0 %>
          <% if (count > 9)%>
            <% noti_id = "double_number"%>
          <% else %>
            <% noti_id = "one_number"%>
          <% end %>
        <div class="notification">
          <a href="/account/<%= current_user.name %>" id="<%= noti_id %>"><%= count %></a>
        </div>
        <% end %>
        <div class="account">
          <a href="#" class="drop_down"><%= h(real_name(current_user)) %></a>
          <ul class="drop_menu">
            <li><a href="/account/<%= current_user.name %>">个人主页</a></li>
            <li><a href="/topics/new">发布新帖</a></li>
            <li><a href="/logout">登出</a></li>
          </ul>
        </div>
      <% else %>
        <div class="signup"><a href="/signup" id="signup" >注册</a></div>
        <div class="login"><a href="/login" id="login" >登录</a></div>
      <% end %>
      <div class="empty">
        
      </div>
    </nav>
  </header>
  <section class="index">
  <% if flash[:success]%>
    <div class="flash flash_success">
      <%= flash[:success]%>
    </div>
  <% elsif flash[:notice]%>
    <div class="flash flash_notice">
      <%= flash[:notice]%>
    </div>
  <% end %>
    <%= yield %>
  </section>
  <footer class="index">
    <p>涅磐中文. Powered by <a target="_blank" href="http://www.sinatrarb.com">Sinatra</a> . 源代码 <a target="_blank" href="https://github.com/aidewoode/cn_nirvana">Github</a></p>
  </footer>
  <script type="text/javascript" src="/js/moment.min.js"></script>
  <script>
    moment.locale("zh-cn");
  </script>
  <script type="text/javascript" src="/js/my.js"></script>
</body>
</html>
