
<% count = post.comments.count %>
<% if count != 0%>
  <% if (count > 9)%>
    <% reply_id = "double_number"%>
  <% else %>
    <% reply_id = "one_number"%>
  <% end %>
  <div class="reply">
    <a href="#" id="<%= reply_id %>"><%= count %></a>
  </div>
<% end %>
  <div class="avatar">
    <img src="<%= post.user.avatar_url %>" alt="avatar" />
  </div>
  <div class="content">
    <div class="title">
      <a href="/topics/<%= post.id %>"><%= h(post.title) %></a>
    </div>
    <div class="info">
      <a href="/tags/<%= post.tag %>"><%= h(post.tag) %></a>
      <span> . </span>
      <% if (count == 0) %>
        <span>由</span>
        <a href="/account/<%= post.user.name %>"><%= h(real_name(post.user)) %></a>
        <span>发表</span>
        <span>.</span>
        <span class="data_time_ago" data-time='<%= post.created_at %>' ></span>
      <% else %>
        <span>最后由</span>
        <% comment = post.comments.last%>
        <% comment_user = comment.user %>
        <a href="/account/<%= comment_user.name %>"><%= h(real_name(comment_user)) %></a>
        <span>回复</span>
        <span>.</span>
        <span class="data_time_ago" data-time='<%= comment.created_at %>' ></span>
      <% end %>
    </div>
  </div>
