<nav class="navbar navbar-fixed-top global_nav">
  <div class="container-fluid">
    <div class="navbar-brand navbar-left site_title" >
      SimpleForum
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to "index"}}Home{{/link-to}}</li>
      <li><a href="#">About</a></li>
    </ul>
    {{#if isAuthenticated}}
    <ul class="nav navbar-nav navbar-right menu-nav">
      <li class="notification"><a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> </a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span>{{currentUser.name}}</a>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation">{{#link-to "user.posts" currentUser  role="menuitem"}}My own page{{/link-to}}</li>
          <li role="presentation"><a role="menuitem" href="#" data-toggle="modal" data-target="#newPostForm" >New post</a></li>
          <li role="presentation"><a {{action "logOut"}} role="menuitem" href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
    {{else}}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#signupForm">Signup</a></li>
      <li><a {{action "resetErrorMessage"}} href="#" data-toggle="modal" data-target="#loginForm">Login</a></li>
    </ul>
    {{/if}}
  </div>
</nav>
<section class="index">
  {{render "signup"}}
  {{render "login" }}
  {{render "posts.new"}}
  {{outlet}}
</section>
<footer class="container-fluid index">
  <p>SimpleForum. Powered by <a target="_blank" href="http://www.sinatrarb.com">Sinatra</a> and  <a target="_blank" href="http://emberjs.com">Ember.js</a>. Source Code: <a target="_blank" href="https://github.com/aidewoode/simple_forum">Github</a></p>
</footer>
