<div class="container all-contents">
  <ul class="content-list list-group">
    {{#each post in model}}
    <li class="list-group-item {{post-class-name post.top isEssence=post.essence}}">
      {{#if post.commentsCount}}
      <div class="pull-right reply">
        <a href="#">{{post.commentsCount}}</a>
      </div>
      {{/if}}
      <div class="pull-left avatar">
        <img class="img-responsive img-circle"src={{post.userAvatar}} alt="avatar" >
      </div>
        <div class="content">
          <div class="title">
            {{#link-to "post.comments" post}}{{post.title}}{{/link-to}}
          </div>
          <div class="info">
            {{#link-to index}}{{post.tag}}{{/link-to}}
            <span>.</span>
            {{#if post.commentsCount}}
            <span>最后由</span>
            {{#link-to "user.posts" post.user_id}}{{post.lastCommentUserName}}{{/link-to}}
            <span>回复.</span>
            {{date-format post.last_reply_time}}
            {{else}}
            <span>由</span>
            {{#link-to "user.posts" post.user_id}}{{post.postUserName}}{{/link-to}}
            <span>发表.</span>
            {{date-format post.created_at}}
            {{/if}}

          </div>
        </div>
        <div class="clearfix">

        </div>
    </li>
    <hr />
    {{/each}}
  </ul>

  {{#if isEnd}}
  <button class="center-block btn btn-default normal-button" disabled="disabled">No more</button>
  {{else}}
  <button class="center-block btn btn-default normal-button load-next-button" {{action "loadMore"}} data-loading-text="Loading..." autocomplete="off" >Load More</button>
  {{/if}}

</div>
