<div class="container all-contents">
<div class="post-title {{post-class-name model}}">
  <div class="pull-right avatar">
    <img class="img-responsive img-circle" src={{model.userAvatar}} alt="avatar">
  </div>
  <h1>{{model.title}}</h1>
  <hr />
  <div class="post-info">
    {{#link-to index}}{{model.tag}}{{/link-to}}
    <span>由</span>
    {{#link-to "users.posts" model.postUserName}}{{model.postUserName}}{{/link-to}}
    <span>发表.</span>
    {{date-format model.created_at}}

  </div>
  <div class="clearfix"></div>
</div>
<div class="entry post-body">
  {{model.body}}
</div>
  {{outlet}}
</div>
