{{#if isAuthenticated}}
<button  class="center-block btn btn-default normal-button" {{action "transToCommentMode" }} data-toggle="modal" data-target="#editor" >Post a comment</button>
{{else}}
<div class="static-alert container-fluid">
  You must <a href="#" data-toggle="modal" data-target="#loginForm">login</a> or  <a href="#" data-toggle="modal" data-target="#signupForm">signup</a> to post a comment
</div>
{{/if}}

{{#if commentsCount}}
  <div class="comments-number">
    共{{commentsCount}}条回复:
  </div>
{{/if}}
<ul class="list-group comments">
  {{#each commentArray as |comment|}}
    <li class="comment list-group-item">
      {{#if isAuthenticated}}
      <div class="pull-right reply">
        <a href="#" {{action "transToCommentMode"}} data-toggle="modal" data-target="#editor" data-comment-user={{comment.commentUserName}}>
          <span class="glyphicon glyphicon-menu-down" aria-label="reply" aria-hidden="true"></span>
        </a> 
      </div>
      {{/if}}
      <div class="pull-left avatar">
        <img class="img-responsive img-circle" src="{{comment.userAvatar}}" alt="avatar" />
      </div>
      <div class="comment-info">
        {{#link-to "user.posts" comment.user_id}}{{comment.commentUserName}}{{/link-to}}
        <span>.{{date-format comment.created_at}}</span>

        {{#if currentUser.admin}}
        <span>. </span>
        <a href="#" {{action "setDeleteMode" "deleteComment" comment}} data-toggle="modal" data-target="#delete-confirm">
          <span class="glyphicon glyphicon-trash delete-icon" aria-hidden="true"></span>
        </a>
        {{/if}}

      </div>
      <div class="entry comment-content">
        {{{comment.body}}}
      </div>
      <div class="clearfix"></div>
    </li>
  {{/each}}

  {{#if commentArray.length}}
    {{#if isEnd}}
    <button class="center-block btn btn-default normal-button" disabled="disabled">No more</button>
    {{else}}
    <button class="center-block btn btn-default normal-button load-next-button" {{action "loadMore"}} data-loading-text="Loading..." autocomplete="off" >Load More</button>
    {{/if}}
  {{/if}}

</ul>
