<div class="comments-number">
  共{{model.length}}条回复:
</div>
<ul class="list-group comments">
  {{#each comment in model}}
    <li class="comment list-group-item">
      {{#if isAuthenticated}}
      <div class="pull-right reply">
        <a href="#" {{action "transToCommentMode"}} data-toggle="modal" data-target="#newPostForm"><span class="glyphicon glyphicon-menu-down" aria-label="reply" aria-hidden="true"></span></a> 
      </div>
      {{/if}}
      <div class="pull-left avatar">
        <img class="img-responsive img-circle" src="{{comment.userAvatar}}" alt="avatar" />
      </div>
      <div class="comment-info">
        {{#link-to "user.posts" comment.user_id}}{{comment.commentUserName}}{{/link-to}}
        <span>.{{date-format comment.created_at}}</span>
      </div>
      <div class="entry comment-content">
        {{comment.body}}
      </div>
      <div class="clearfix"></div>
    </li>
  {{/each}}
  
  {{page-numbers content=content}}
</ul>
