<div class="new_edit_post">
  <% if flash[:error]%>
    <div class="flash flash_error">
      <%= flash[:error]%>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
    </div>
  <% end %>
  <h1>修改你的帖子</h1>
  <form action="/topics/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="patch" />
    <%= new_edit_form(@post) %>
    <div class="submit">
      <input type="submit" value="发布修改" />
    </div>

</form>
</div>
<%= new_edit_js %>
