<div class="all_content">
  <% if flash[:error] %>
    <div class="flash flash_error">
      <%= flash[:error]%>
    </div>
  <% end %>
  <% if @post.top %>
    <% titleclass = "topic_title top"%>
  <% elsif @post.essence %>
    <% titleclass = "topic_title essence"%>
  <% else %>
    <% titleclass = "topic_title"%>
  <% end %>
  <div class="<%= titleclass %>">
    <div class="avatar"><img src="<%= @post.user.avatar_url %>"></div>
    <h1><%= h(@post.title) %></h1>
    <div class="topic_info">
      <a href="/tags/<%= @post.tag %>"><%= h(@post.tag) %></a>
      <span>.</span>
      <span>由</span>
      <a class="account" href="/account/<%= @post.user.name%>"><%= h(real_name(@post.user)) %></a>
      <span>发表</span>
      <span>.</span>
      <span class="data_time_ago" data-time='<%= @post.created_at %>'></span>
    </div>
    <div class="empty">
      
    </div>
  </div>
  <div class="topic_body entry">
    <%= @post.body %>
  </div>
  <div class="topic_option">
    <% if login?&&current_user?(@post.user.id) %>
      <a href="/topics/<%= @post.id %>/edit">修改</a>
    <% end %>
    <% if login?&&admin? %>
      <%= delete_some("/topics/#{@post.id}")%>
      <a href="/topics/<%= @post.id %>/essence">设为精华</a>
    <% end %>
    <div class="empty">
    </div>
  </div>

  <div class="comment_total">
    <p>共<b><%= @post.comments.count %></b>条回复：</p>
  </div>
  <ul class="comments">
  <% @comments.each do |comment| %>
    <li class="comment">
      <div class="avatar">
        <img src="<%= comment.user.avatar_url %>" alt="avatar" />
      </div>
      <div class="comment_info">
        <a href="/account/<%= comment.user.name %>"><%= h(real_name(comment.user)) %></a>
        <span>.</span>
        <span class="data_time_ago" data-time='<%= comment.created_at %>'></span>
      </div>
      <div class="comment_content">
        <% if login?&&admin?%>
          <%= delete_some("/comments/#{comment.id}")%>
        <% end %>
        <div class="entry"><%= comment.body %></div>
      </div>
    </li>
  <% end %>
  </ul>

  <%= will_paginate @comments ,next_label: "下一页" , previous_label: "上一页"%>
  <% if login? %>
    <form class="comment submit_form" action="/comments/<%= @post.id %>" method="post">
      <label id="comment_tag" for="comment_body">发表你的回复：</label><br/> 
      <textarea id="comment_body" name="comment[body]" row="5"></textarea><br />

      <div class="submit">
        <input class="comment_submit submit_form" type="submit" value="发表回复" />
      </div>

    </form>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/module.min.js"></script>
    <script type="text/javascript" src="/js/uploader.min.js"></script>
    <script type="text/javascript" src="/js/simditor.min.js"></script>
    <script type="text/javascript" src="/js/simditor-mention.js"></script>
    <script type="text/javascript" charset="utf-8">
      var editor = new Simditor(
          {
            textarea: $('#comment_body'),
            placeholder: "在这里添加回复，如需@某人，请直接输入@",
            mention: {
              items: <%= @items %>
              }
          }
          );
    </script>
  <% else %>
    <div class="login_alert">
      <p>你需要<a href="/login">登录</a>才可发表评论或者<a href="/signup">注册</a>一个新的帐号</p>
    </div>
  <% end %>
</div>
